---
import BoxAndText from "@components/astro/BoxAndText.astro";
import portrait from "@assets/images/perfect-portrait2.webp";
import colorfulShapes from "@assets/images/colorful-shapes.webp";
---

<section class="max-w-full px-4 py-8">
  <div class="grid xl:grid-cols-2 grid-cols-1 gap-6 max-w-8xl mx-auto">
    <BoxAndText
      image={portrait}
      alt="Portrait of Victor"
      content={[
        "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione ducimus, rerum necessitatibus commodi atque consequatur ex?",
        "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione ducimus, rerum necessitatibus commodi atque consequatur ex?"
      ]}
    />

    <BoxAndText
      image={colorfulShapes}
      alt="Colorful abstract painting"
      content={[
        "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione ducimus, rerum necessitatibus commodi atque consequatur ex?",
        "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione ducimus, rerum necessitatibus commodi atque consequatur ex?"
      ]}
    />
  </div>
</section>
