---
import { Image } from 'astro:assets';
import portrait from '@assets/images/perfect-portrait2.jpg';
// import fruit from '@assets/images/fruit.jpg';
import colorfulShapes from '@assets/images/colorful-shapes.jpg';
---

<section>
  <div class='py-4 px-2'>
    <div class='grid md:grid-cols-2 grid-cols-1 gap-2'>
      <div class='bg-zinc-500 m-4 text-slate-100 shadow-black shadow-lg pt-2 pl-2 md:min-h-[548px]'>
        <Image
          src={portrait}
          alt='Portrait of Victor'
          width='400'
          height='400'
          class='md:float-left p-4 w-full md:w-auto rounded-md'
        />
        <div class='text-lg'>
          <p class='p-4 indent-4'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
            assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus
            ratione ducimus, rerum necessitatibus commodi atque consequatur ex?
          </p>
          <p class='p-4 indent-4'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
            assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus
            ratione ducimus, rerum necessitatibus commodi atque consequatur ex?
          </p>
        </div>
      </div>
      <div
        class='bg-zinc-500 m-4 md:min-h-[548px] text-slate-100 text-lg shadow-black shadow-lg pt-2 pl-2'
      >
        <Image
          src={colorfulShapes}
          alt='Painting of fruit'
          width='400'
          height='400'
          class='p-4 md:float-left w-full md:w-auto'
        />
        <p class='p-4 indent-4'>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
          assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione
          ducimus, rerum necessitatibus commodi atque consequatur ex?
        </p>
        <p class='p-4 indent-4'>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
          assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione
          ducimus, rerum necessitatibus commodi atque consequatur ex?
        </p>
      </div>
    </div>
  </div>
</section>
