---
import { Image } from 'astro:assets';

type Props = {
  image: ImageMetadata;
  alt: string;
};

const { image, alt }: Props = Astro.props;
---

<section class='bg-zinc-700 pt-4 pb-8'>
  <div class=''>
    <Image src={image} alt={alt} class='mx-auto' />
  </div>
</section>
