---
import { Image } from 'astro:assets';
import Cuadro from '@assets/images/Cuadro.jpg';
---

<section class='bg-zinc-700 pt-4 pb-8'>
  <div class=''>
    <Image src={Cuadro} alt='Cuadro painting' class='mx-auto' />
  </div>
</section>
