---
---
<!-- This is a container for each individual poem -->

<article class='border-zinc-500 text-slate-600 border-4 shadow-md shadow-sky-100 mt-8'>
  <div class='bg-slate-100 p-6 md:pl-10'>
    <slot />
  </div>
</article>
