---
---

<div class='max-w-4xl border-red-800 text-slate-600 border-4 text-lg'>
  <div class='min-h-full bg-gradient-to-bl from-sky-100 to-fuchsia-200 p-6'>
    <p class='mt-4 text-center text-lg'>poem container</p>
    <!-- Need to figure out a way to iterate through lines of poetry and display here -->
    <!-- The following lines are the hard coded version -->
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis exercitationem fugit fugiat
      est, odit praesentium dicta nemo? Non id error voluptate qui? Fugit hic atque exercitationem
      blanditiis quibusdam veniam harum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas blanditiis nesciunt officia
      iusto in facilis esse nihil omnis, doloribus neque veritatis nam ratione, aut, a laudantium!
      Cumque ullam neque placeat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis exercitationem fugit fugiat
      est, odit praesentium dicta nemo? Non id error voluptate qui? Fugit hic atque exercitationem
      blanditiis quibusdam veniam harum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas blanditiis nesciunt officia
      iusto in facilis esse nihil omnis, doloribus neque veritatis nam ratione, aut, a laudantium!
      Cumque ullam neque placeat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis exercitationem fugit fugiat
      est, odit praesentium dicta nemo? Non id error voluptate qui? Fugit hic atque exercitationem
      blanditiis quibusdam veniam harum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas blanditiis nesciunt officia
      iusto in facilis esse nihil omnis, doloribus neque veritatis nam ratione, aut, a laudantium!
      Cumque ullam neque placeat.
    </p>
  </div>
</div>
