---
import { Image } from 'astro:assets';
import houses from '@assets/images/houses.jpg';
import oil from '@assets/images/oil-on-canvas.jpg';
import CommonContainer from '@components/astro/CommonContainer.astro';
const oilSource = `background-image: url(${oil.src})`;
const housesSource = `background-image: url(${houses.src})`;
---

<section class='w-full h-52 bg-gradient-to-r from-orange-900 to-red-200' '>
  <div class='w-full h-full bg-cover bg-center' style={housesSource}>
    <div class='p-6'>
      <h1 class='text-4xl sm:text-5xl text-center font-bold'>Victor Fuentes</h1>
      <h2 class='text-3xl sm:text-4xl text-center mt-3 font-bold'>Painter and Poet</h2>
      <CommonContainer>
        <p class='text-base md:text-lg'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, natus. Est excepturi.
        </p>
      </CommonContainer>
    </div>
  </div>
</section>
