---
import isla from '@assets/images/isla.jpg';
import CommonContainer from '@components/astro/CommonContainer.astro';
const islaSource = `background-image: url(${isla.src})`;
---

<section class='w-full h-52 bg-gradient-to-r from-orange-900 to-red-200' '>
  <div class='w-full h-full bg-cover bg-center' style={islaSource}>
    <div class='p-6'>
      <h1 class='text-4xl sm:text-5xl text-center font-bold drop-shadow-xl'>Victor Fuentes</h1>
      <h2 class='text-3xl sm:text-4xl text-center mt-3 font-bold'>Painter and Poet</h2>
      <CommonContainer>
        <p class='text-base md:text-lg'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, natus. Est excepturi.
        </p>
      </CommonContainer>
    </div>
  </div>
</section>
