---
import Links from '@components/astro/Links.astro';
---

<footer
  class='bg-gradient-to-l from-red-600 to-slate-500 text-white mt-auto p-2 border-t-2 border-zinc-500 w-full h-auto'
>
  <div class='flex flex-col justify-center items-center'>
    <div>
      <Links />
    </div>
    <p class='font-semibold'>All rights reserved © Victor Fuentes {new Date().getFullYear()}</p>
  </div>
</footer>
