---
import Links from '@components/astro/Links.astro';
---

<footer class='bg-yellow-700 h-12 text-white mt-auto p-2'>
  <div class='flex flex-col justify-center items-center'>
    <div>
      <Links />
    </div>
  </div>
</footer>
