---
// import victor from '@assets/images/victor1.jpg';
import victor from '@assets/images/victor-experiment.jpg';
import { Image } from 'astro:assets';
import CommonContainer from './CommonContainer.astro';
const { title, subtitle } = Astro.props;
const victorSource = `background-image: url(${victor.src})`;
---

<div class='w-full h-auto bg-gradient-to-r from-orange-900 to-red-200 border-b-2 border-white'>
  <div class='w-full h-full bg-cover bg-center' style={victorSource}>
    <CommonContainer>
      <div class='p-3 sm:p-4 sm:mx-auto text-center sm:text-start'>
        <h1 class='sm:text-6xl text-4xl font-bold'>{title}</h1>
        <h2 class='mt-1 sm:pl-0 sm:text-2xl text-lg tracking-wide font-bold italic text-white'>
          {subtitle}
        </h2>
      </div>
    </CommonContainer>
  </div>
</div>
