---
import victor from '@assets/images/victor-experiment.jpg';
import CommonContainer from './CommonContainer.astro';
const { title } = Astro.props;
const victorSource = `background-image: url(${victor.src})`;
---

<div class='w-full h-auto bg-gradient-to-r from-orange-900 to-red-200 border-b-4 border-zinc-500'>
  <div class='w-full h-full bg-cover bg-center' style={victorSource}>
    <CommonContainer>
      <div class='p-3 sm:p-4 sm:mx-auto'>
        <h1 class='md:text-8xl text-5xl font-bold'>{title}</h1>
      </div>
    </CommonContainer>
  </div>
</div>
