---
import CommonContainer from './CommonContainer.astro';
---

<div class='w-full bg-amber-800 text-white'>
  <CommonContainer>
    <section>
      <p class='my-3'>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae amet consequatur,
        soluta, delectus nesciunt modi perferendis quaerat porro omnis rem doloremque dolores
        debitis ab possimus labore, explicabo distinctio illum similique?
      </p>
      <p class='my-3'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos provident modi voluptates
        libero reiciendis sapiente accusantium atque distinctio eveniet ad. Rem nisi aut provident,
        eligendi numquam possimus sapiente. Odio, repudiandae.
      </p>
    </section>
  </CommonContainer>
</div>
