---
import isla from '@assets/images/isla2.jpg';
import CommonContainer from '@components/astro/CommonContainer.astro';
const islaSource = `background-image: url(${isla.src})`;
---

<section class='w-full bg-gradient-to-r from-orange-900 to-red-200' '>
  <div class='w-full h-full bg-cover bg-center flex justify-center align-center' style={islaSource}>
    <div class='p-6'>
      <h1 class='drop-shadow-xl text-7xl font-bold'>Victor Fuentes</h1>
      <h2 class='text-5xl font-bold'>Painter and Poet</h2>
    </div>
  </div>
</section>
