---
---

<nav>
  <ul class='flex justify-between text-white gap-x-5'>
    <li>
      <a href='/bio'>bio</a>
    </li>
    <li>
      <a href='/painting'>painting</a>
    </li>
    <li>
      <a href='/poetry'>poetry</a>
    </li>
    <li>
      <a href='/contact'>contact</a>
    </li>
  </ul>
</nav>
