---
---

<nav>
  <ul class='flex justify-between text-white gap-x-5 capitalize font-semibold'>
    <li>
      <a href='/paintings'>paintings</a>
    </li>
    <li>
      <a href='/poetry'>poetry</a>
    </li>
    <li>
      <a href='/contact'>contact</a>
    </li>
  </ul>
</nav>
