---
type Props = {
  size: 'xl' | 'lg' | 'base';
};

const { size } = Astro.props;
---

<nav>
  <ul class=`flex justify-between text-zinc-100 gap-x-5 capitalize font-semibold text-${size}`>
    <li class='hover:font-bold'>
      <a href='/paintings'>paintings</a>
    </li>
    <li class='hover:font-bold'>
      <a href='/poetry'>poetry</a>
    </li>
    <li class='hover:font-bold'>
      <a href='/contact'>contact</a>
    </li>
  </ul>
</nav>
