---
import CommonContainer from './CommonContainer.astro';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div class='pt-6'>
  <CommonContainer>
    <h1 class='italic tracking-wider text-5xl text-white font-bold px-3'>{title}</h1>
  </CommonContainer>
</div>
