---
import CommonContainer from './CommonContainer.astro';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div class='pt-6'>
  <CommonContainer>
    <h1 class='italic px-2 tracking-wider text-3xl md:text-4xl lg:text-5xl text-white font-bold md:px-3'>{title}</h1>
  </CommonContainer>
</div>
