---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/astro/Hero.astro';
import FixedHero from '@components/astro/Experiments/FixedHero.astro';
import TestFiller from '@components/astro/Experiments/TestFiller.astro';
---

<Layout>
  <div>
    <Hero title='Biography' paragraph='Victor Fuentes was born in the town of Leon, Nicaragua.' />
  </div>
</Layout>
