---
import Layout from '@layouts/Layout.astro';
import ContactForm from '@components/astro/ContactForm.astro';
import Hero from '@components/astro/Hero.astro';
---

<Layout>
  <div>
    <Hero title='Contact' paragraph='To inquire about sales:' />
    <div class='sm:w-1/2 mx-auto text-slate-700 text-lg md:text-xl font-semibold my-8'>
      <p class='pl-4'>
        <a href='mailto:victorfuentesart@gmail.com'>victorfuentesart@gmail.com</a> or:
      </p>
      <ContactForm />
    </div>
  </div>
</Layout>
