---
import Layout from '@layouts/Layout.astro';
import ContactForm from '@components/astro/Contact/ContactForm.astro';
import Hero from '@components/astro/Hero.astro';
import CommonContainer from '@components/astro/CommonContainer.astro';
---

<Layout metaTitle="Contact">
  <div class=' h-full pb-8'>
    <Hero title='Contact' />
    <CommonContainer>
      <div class='text-lg md:text-xl font-semibold my-8'>
        <p class='my-2 uppercase'>for sales inquiries:</p>
        <p class='py-2 font-bold tracking-wider'>
          <a href='mailto:victorfuentesart@gmail.com'>victorfuentesart@gmail.com</a>
        </p>
        <p class='py-2 my-2'>Or use the form below:</p>
        <ContactForm />
      </div>
    </CommonContainer>
  </div>
</Layout>
