---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/astro/Hero.astro';
import FirstLandingSection from '@components/astro/FirstLandingSection.astro';
---

<Layout>
  <div class='flex flex-col'>
    <Hero title='Victor Fuentes' subtitle='Painter and Poet' />
    <FirstLandingSection />
  </div>
</Layout>
