---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/astro/Hero.astro';
---

<Layout>
  <div>
    <Hero title='Victor Fuentes' paragraph='Painter and Poet' />
  </div>
</Layout>
