---
import Layout from '@layouts/Layout.astro';
import FirstLandingSection from '@components/astro/FirstLandingSection.astro';
import LandingTextSection from '@components/astro/LandingTextSection.astro';
---

<Layout>
  <div>
    <FirstLandingSection />
    <LandingTextSection />
  </div>
</Layout>
