---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/astro/Hero.astro';
import PhotoBackground from '@components/astro/Experiments/PhotoBackground.astro';
---

<Layout>
  <div>
    <Hero title='Painting' />
    <PhotoBackground />
  </div>
</Layout>
