---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/astro/Hero.astro';
import PoemContainer from '@components/astro/Poetry/PoemContainer.astro';
import CommonContainer from '@components/astro/CommonContainer.astro';
import Poem from '@components/react/Poem.tsx';
import Spacer from '@components/astro/Spacer.astro';
import { poems } from '../data/poems.ts';
---

<Layout metaTitle="Poetry">
  <div>
    <Hero title='Poetry' />
    <div class='px-2'>
      <CommonContainer>
        <Spacer>
          <PoemContainer>
            <Poem
              client:load
              data={poems['imagenesDeAmor']}
              englishTitle='Images of Love'
              spanishTitle='Imagenes De Amor'
            />
          </PoemContainer>
        </Spacer>
        <Spacer>
          <PoemContainer>
            <Poem
              client:load
              data={poems['imagenesDeAmor']}
              englishTitle='Test Poem'
              spanishTitle='Poema Prueba'
            />
          </PoemContainer>
        </Spacer>
        <Spacer>
          <PoemContainer>
            <Poem
              client:load
              data={poems['imagenesDeAmor']}
              englishTitle='Test Poem'
              spanishTitle='Poema Prueba'
            />
          </PoemContainer>
        </Spacer>
      </CommonContainer>
    </div>
  </div>
</Layout>
