---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/astro/Hero.astro';
import GridTest from '@components/astro/Experiments/GridTest.astro';
---

<Layout>
  <div>
    <Hero title='Poetry' />
    <GridTest />
  </div>
</Layout>
