---
import CommonContainer from '@components/astro/CommonContainer.astro';
---

<section class='w-full bg-slate-800' '>
  <div class='w-full flex justify-center align-center'>
    <div class='p-6'>
      <h1 class='drop-shadow-xl text-5xl font-bold'>Victor Fuentes</h1>
      <h2 class='text-3xl font-bold'>Painter and Poet</h2>
    </div>
  </div>
</section>
