---
---

<div class='grid grid-cols-1 md:grid-cols-2 gap-3 px-4 my-2 py-4'>
  <div class='bg-red-400 p-2'>
    <h1>Div 1</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
      assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione
      ducimus, rerum necessitatibus commodi atque consequatur ex?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
      assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione
      ducimus, rerum necessitatibus commodi atque consequatur ex?
    </p>
  </div>
  <div class='bg-blue-400 p-2'>
    <h1>Div 2</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, illum. Ullam, ducimus
      dolore! Alias, perferendis modi, dignissimos reiciendis possimus veniam totam officia iusto,
      earum fugiat incidunt quo explicabo aspernatur voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
      assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione
      ducimus, rerum necessitatibus commodi atque consequatur ex?
    </p>
  </div>
  <div class='bg-orange-400 md:col-span-2 p-2'>
    <h1>Div 1</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
      assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione
      ducimus, rerum necessitatibus commodi atque consequatur ex?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
      assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione
      ducimus, rerum necessitatibus commodi atque consequatur ex?
    </p>
  </div>
  <div class='bg-indigo-400 p-2'>
    <h1>Div 1</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
      assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione
      ducimus, rerum necessitatibus commodi atque consequatur ex?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
      assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione
      ducimus, rerum necessitatibus commodi atque consequatur ex?
    </p>
  </div>
  <div class='bg-purple-400 p-2'>
    <h1>Div 1</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
      assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione
      ducimus, rerum necessitatibus commodi atque consequatur ex?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quaerat voluptas
      assumenda! Laborum aliquam porro omnis hic explicabo ut ullam aspernatur doloribus ratione
      ducimus, rerum necessitatibus commodi atque consequatur ex?
    </p>
  </div>
</div>
