---
import fruit from '@assets/images/fruit.jpg';
const fruitSource = `background-image: url(${fruit.src})`;
import TestFiller from './TestFiller.astro';
---

<div class='bg-cover m-4 px-3' style={fruitSource}>
  <TestFiller />
  <TestFiller />
  <p>See if this shows up on the bottom!</p>
</div>
