---
import Footer from '@components/astro/Footer.astro';
---

<html lang='en' class='h-full'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class='h-full text-white bg-yellow-600'>
    <div class='min-h-full flex flex-col'>
      <slot />
    </div>
    <Footer />
  </body>
</html>
